:root { 
--green_300:#6ed28f; 
--bluegray_900_26:#33333326; 
--red_600:#d84646; 
--blue_A200:#4285f4; 
--red_400:#ef5656; 
--bluegray_910:#333333; 
--teal_300:#32bcad; 
--indigo_900_19:#00007219; 
--yellow_200:#fff499; 
--gray_400:#c1c1c1; 
--blue_900:#1c3aa9; 
--bluegray_900_33:#33333333; 
--blue_700:#2091c2; 
--gray_800:#3c4043; 
--bluegray_800:#40405c; 
--deep_purple_50:#ede9fb; 
--white_A701:#fffefe; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
--gray_51:#f9f9f9; 
--red_700:#cf352a; 
--indigo_900_1e:#0000721e; 
--red_900:#921c1c; 
--red_300:#f47676; 
--light_green_A200:#c5fa69; 
--green_800:#24753f; 
--deep_purple_100:#cdc2ed; 
--gray_50:#fbfbfb; 
--deep_purple_300:#9b8fcc; 
--red_100:#ffd8d8; 
--light_green_900:#4f4910; 
--yellow_500:#f9eb32; 
--light_green_500:#9bd439; 
--teal_800:#075e54; 
--black_900:#0f0f12; 
--black_901:#000000; 
--gray_501:#ababab; 
--gray_700:#555555; 
--lime_400:#e4f254; 
--gray_301:#dadce0; 
--gray_500:#a0a0a8; 
--lime_800:#9e8e00; 
--blue_600:#3498d8; 
--gray_900:#222222; 
--bluegray_100:#d3d3d3; 
--gray_300:#e1e1e1; 
--gray_100:#f5f5f5; 
--bluegray_900:#282842; 
--bluegray_500:#79798f; 
--bluegray_300:#99a6ab; 
--indigo_902:#00006c; 
--light_green_50:#ecf9f0; 
--indigo_900:#000072; 
--indigo_901:#171784; 
--indigo_500:#4267b2; 
}