
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/RubikRegular.ttf"); font-family : "Rubik"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : bold; src: url("assets/fonts/RubikMedium.ttf"); font-family : "Rubik"; font-weight : 500;  }
 @font-face { font-display: swap; font-style : bold; src: url("assets/fonts/RubikSemiBold.ttf"); font-family : "Rubik"; font-weight : 600;  }
 @font-face { font-display: swap; font-style : bold; src: url("assets/fonts/RubikBold.ttf"); font-family : "Rubik"; font-weight : 700;  }
 @font-face { font-display: swap; font-style : bold; src: url("assets/fonts/RobotoRomanMedium.ttf"); font-family : "Roboto"; font-weight : 500;  }